<div class="jumbotron text-center">
    <h1>Borwell Software Challenge - Paint Calculator</h1>
    <p>Solution by Lance Parkington 5/03/2020</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Information</h3>
            <p>
                The software is written in Net Core 3.1 (all previous versions are end of life and out of support), using Bootstrap 4 and jQuery, and takes the dimensions (using imperial units) of a room as input then outputs the following:
                <ul>
                    <li>Area of the floor.</li>
                    <li>Amount of paint required to paint the walls.</li>
                    <li>Volume of the room.</li>
                </ul>
                The amount of paint required to cover an area depends on the paint. An internal constant value is assumed which could be calibrated in a later version of the software. Furthe improvements include ability to choose metric units.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>User Instructions</h3>
            <p>Simply enter the required height, width, and depth and click Submit. If something goes wrong (eg invalid data), simply try again!</p>
        </div>
    </div>
</div>




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*<button type="button" class="btn btn-primary">Primary</button> - Test Bootstrap working   *@
</div>

@*@section Scripts {
        <script>
        $(function () {
          alert("Test");
        });
        </script> - Test JQuery working
    }*@
