<div class="jumbotron text-center">
    <h1>Borwell Software Challenge - Paint Calculator</h1>
    <p>Solution by Lance Parkington 5/03/2020</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Information</h3>
            <p>The software takes the dimensions of a room as input and outputs the following:
            <ul>
                <li>Area of the floor</li>
                <li>Amount of paint required to paint the walls</li>
                <li>Volume of the room</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
</div>




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*<button type="button" class="btn btn-primary">Primary</button> - Test Bootstrap working   *@
</div>

@*@section Scripts {
        <script>
        $(function () {
          alert("Test");
        });
        </script> - Test JQuery working
    }*@
