<div class="jumbotron text-center">
    <h1>Privacy Policy</h1>
    <p>&nbsp;</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Introduction</h3>
            <p>This site is committed to protecting your personal information. No personal information is collected, used, or saved on the site</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Who we are and how to contact us.</h3>
            <p>The site is used to host the code submitted to Borwell Software Challenge. The contact details are as follows:</p>
            <p>Name : Lance Parkington<p>
            <p>Email: lance_parkington@hotmail.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Our use of cookies and similar technologies.</h3>
            <p>The website, app and emails, dependent on whether hosted in the cloud may contain certain cookies, pixels, records and other technologies of which you should be aware.</p>
            <p>We cannot be responsible for any personal information when navigated to other sites on the internet, internal networks etc or after using the back button from any such sites.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Changes to this privacy policy.</h3>
            <p>We may make changes to this Privacy Policy from time to time.</p>
        </div>
    </div>
</div>
